@model List<UserCampusResponse>
@{
    const string ignoreProperties = "id isdeleted userid campusid";
    var properties = typeof(UserCampusResponse).GetProperties().Where(x => !ignoreProperties.Contains($"{x.Name}".ToLower())).ToArray();
}

<thead class="table-dark">
<tr>
    @foreach (var property in properties)
    {
        <th scope="col" class="text-center">
            @(property.GetCustomAttributes(typeof(DisplayNameAttribute), true).Any()
                ? ((DisplayNameAttribute)property.GetCustomAttributes(typeof(DisplayNameAttribute), true).First()).DisplayName
                : property.Name)
        </th>
    }
    <th scope="col" class="text-center">Tools</th>
</tr>
</thead>
<tbody>
@if (Model.Count != 0)
{
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.UserEmail</td>
            <td class="text-center">@item.CampusName</td>
            <td class="text-center">@item.CampusCode</td>
            <td class="text-center">
                <div class="d-flex flex-wrap gap-2 justify-content-center">
                    @await Html.PartialAsync(ViewPath.ButtonRemoveUpdateDetails, item)
                </div>
            </td>
        </tr>
    }
}
else
{
    var atributeCount = properties.Length + 1;

    <tr class="text-center">
        <td colspan="@atributeCount">
            <a class="text-info">Không có dữ liệu nào được tìm thấy</a>
        </td>
    </tr>
}
</tbody>