@model Guid

<button type="button" class="btn btn-outline-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#deleteModal_@Model">
    <i class="ri-delete-bin-6-line"></i>
    <span>Xóa</span>
</button>

<div class="modal fade" id="deleteModal_@Model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title">Xác nhận xóa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <div class="d-flex flex-wrap gap-2 justify-content-center">
                    <form asp-area="@ViewContext.RouteData.Values["Area"]"
                          asp-controller="@ViewContext.RouteData.Values["Controller"]"
                          asp-action="@HttpMethods.Delete"
                          asp-route-id="@Model.ToString()"
                          asp-route-keyword="@ViewBag.PaginationInfo.Keyword"
                          asp-route-pageSize="@ViewBag.PaginationInfo.PageSize"
                          asp-route-currentPage="@ViewBag.PaginationInfo.CurrentPage">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-outline-secondary rounded-pill">
                            <i class="ri-delete-bin-6-line"></i>
                            <span>Xóa</span>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-dismiss="modal">
                            <i class="ri-close-circle-line"></i>
                            <span>Hủy</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>